.home-elements {
  padding-top: 5rem;
  padding-left: 4rem;
  text-align: left;
}
.logo{
  padding-top: 10%;
  width: 60%;
  z-index: 1;
  margin-left: 3rem;
}
.floating{
  z-index: 20;
}
.p-text{
  display: flexbox;
  align-items: baseline;
  font-size: medium;
  margin-top: 2em;
}
.small {
  font-size: medium;
  margin: 1em 2em 0 0;
}
.contact-button{
  transition: 2s background-color;
}
.contact-button:hover {
  background-color: #45337D;
  transition: ease-in-out;
}
.text{
  padding-right: 5rem;
  padding-left: 2rem;
}
#next1{
  padding-left: 5rem;
}
.bar{
  float: right;
  width: 100vw;
}
.line1{
  max-width: 70vw;
}
.line3{
  padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 60vw;
}
.text-dargrey{
  color: #272726;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  height: 1em;
  letter-spacing: 8px;
}
.text-grey{
  color: #959499;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  letter-spacing: 8px;
}
.text-white{
  color: #D3D4D8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4rem;
  height: 1em;
  letter-spacing: 8px;
}
.up-arrow{
  transform: rotate(180deg);
}
.space{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.space-bottom{
  padding-bottom: 5rem;
}

.comic-text{
  width: 35rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Two column containers*/
.twocolumn {
  float: left;
  width: 50%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.twocolumn-s {
  display: flex;
  width: 50%;
}
.comic-text-s{
  padding: 2rem;  
}

.image {
  display: block;
  margin-left: -2rem;
  margin-right: auto;
  width: 100%;

}