@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form-container{
    width: 100%;
}
.container{
    padding-top: 8%;
}
.white--header{
    margin-bottom: 2%;
}
.form-container{
    display: flexbox;
    align-items: left;
    justify-content: left;
    padding-left: 2em;
    margin-bottom: -2rem;
    text-align: left;
}
.footer {
    padding-top: 5%;
}
.FormText--button {
    float: right;
}
.FormText{
    padding-left: 2%;
    font-size: 1em;
}
.FormInput--container{
    padding-left: 2%;
    max-width: 35%;
}
input[type=text], input[type=email] {
    border: 2px solid #45337D;
    border-radius: 2rem;
    color: #45337D;
    transition: width 2s ease-in-out;
    height: auto;
    padding: 0.7em;
    background-color: black;
    text-align: center;font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 35%;
}/* 
input[type=text]:focus, input[type=email] {
    width: 60%;
} */
input::placeholder {
    font-weight: bold;
    opacity: .8;
    color: #45337D;
    font-size: 1.9em;
}
.FormText--button{
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #45337D;
    border: solid 1px transparent;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.FormText--button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
    color: #45337D;
}