.home-elements {
  padding-top: 8rem;
  padding-left: 5rem;
  text-align: left;
}
.logo{
  padding-top: 10rem;
  width: 60%;
  z-index: 1;
}
.contact-button{
  transition: 2s background-color;
}
.contact-button:hover {
  background-color: #45337D;
  transition: ease-in-out;
}
.text{
  padding-right: 5rem;
  padding-left: 2rem;
}
#next1{
  padding-left: 20rem;
}
.line3{
  padding-top: 3rem;
  display: flex;
  align-content: flex-end;
}
.text-dargrey{
  color: #272726;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6rem;
}
.text-grey{
  color: #959499;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6rem;
}
.text-white{
  color: #D3D4D8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6rem;
}
.space{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.container__comic{
  padding-left: 5rem;
  padding-right: 5rem;
}
.ilustration5{
  padding-right: 15rem;
}
/*
.App {
  margin-top: 5rem;
  padding-top: 200px;
}
*{
display: inline-block;
margin-top: 50rem;
}
:root{
  margin-top: 50rem;
  padding-top: 200px;
} 
  
.App {
  text-align: center;
}

.logo {
  height: 50%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */